body {
  background-color: #edc7b7;
  height: 400px;
  overflow: hidden;
}

.circle__left {
  background: #eee2dc;
  width: 1800px;
  height: 750px;
  border-radius: 750px / 375px;
  margin: -375px;
  transform: rotate(-31.7deg);
}

.circle__right {
  background: #eee2dc;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 1800px;
  height: 750px;
  border-radius: 750px / 375px;
  margin: -375px;
  transform: rotate(-31.7deg);
}

.main__stats {
  position: absolute;
  bottom: 45px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
  letter-spacing: 0.09em;
}

.middle__container {
  position: fixed;
  background-image: url("./images/ComputerBackground.png");
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  border: none;
  width: 551px;
  height: 641px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.middle__container:after {
  position: absolute;
  left: 0;
  top: 80%;
  height: 1px;
  background: rgba(183, 183, 183, 0.51);
  content: "";
  width: 100%;
  display: block;
}

.middle__card {
  position: relative;
  background-color: white;
  width: auto;
  margin-top: auto;
  height: 63%;
}
