body {
  background-color: #edc7b7;
  height: 400px;
  overflow: hidden;
}

.circle__left {
  background: #eee2dc;
  width: 1800px;
  height: 750px;
  border-radius: 750px / 375px;
  margin: -375px;
  transform: rotate(-31.7deg);
}

.circle__right {
  background: #eee2dc;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 1800px;
  height: 750px;
  border-radius: 750px / 375px;
  margin: -375px;
  transform: rotate(-31.7deg);
}

p {
  /* border-style: solid; */
}

.middle__container {
  position: fixed;
  background-image: url("./images/ComputerBackground.png");
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  border: none;
  width: 25%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.middle__card {
  position: bottom;  
  background-color: white;
  width: auto;
  margin-top: auto;
  height: 60%;
  object-fit: contain;
}
